
.continue-button {
  @include back-forward-buttons($right-arrow);
}

.back-button {
  @include back-forward-buttons($left-arrow);
}

.back-forward-buttons {
  display: flex;
  justify-content: space-around;
}

select {
  margin: 20px;
  height: 50px;
  border-radius: 15px;
  background-color: $mint-cream;
  color: $blue-sapphire;
  border: none;
  font-family: $small-font;
}

option {
  background-color: $mint-cream;
  color: $blue-sapphire;
}

// .header-buttons {
//   display: flex;
//   justify-content: space-between;
// }

.header-button {
  font-family: $title-font;
  font-size: 20px;
  border: none;
  background: none;
  color: $mint-cream;
  margin: 10px;
}

.new-trip-button {
  // border-right: solid 5px $amaranthe;
  // border-radius: 3px;
}
