
.continue-button {
  @include back-forward-buttons($right-arrow);
  font-size: 0;
}

.back-button {
  @include back-forward-buttons($left-arrow);
  font-size: 0;
}

.finish-button {
  @include back-forward-buttons($checkmark);
  font-size: 0;
  box-shadow: 0px 3px 10px 2px $mint-cream;
}


.back-forward-buttons {
  display: flex;
  justify-content: space-between;
}


.login-button{
  font-family: $small-font;
  background-color: $amaranthe;
  color: $mint-cream;
  font-size: 30px;
  border-radius: 15px;
  border: none;
  padding: 10px;
  box-shadow: 0px 3px 10px 2px $blue-sapphire;
  margin-top: 20px;
}


.header-button {
  font-family: $title-font;
  font-size: 20px;
  border: none;
  background: none;
  color: $mint-cream;
  margin: 10px;
}


.agent-login-button {
  background-color: $rose-taupe;
  font-family: $small-font;
  padding: 10px;
  width: 150px;
  color: $mint-cream;
  border: solid 2px $mint-cream;
  border-radius: 5px;
  font-size: 15px;
}

.plane-logo {
  background-image: url('../images/paper-plane-red-outline.png');
  width: 100px;
  height: 100px;
}
