.trip-form {
  box-shadow: 0px 3px 10px 20px $mint-cream;
  height: 400px;
  width: 650px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  margin-top: 100px;
}

.form-section {
  display: flex;
  flex-direction: column;
}
