@import 'variables';
@import 'buttons';
@import 'inputs';
@import 'login';
@import 'trip-form';
@import 'my-trips';
@import 'agent-dashboard';

body {
  background: $sky-gradient;
  font-family: $title-font;
  color: $mint-cream;
}

header {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.user-greeting {
  margin-top: 200px;
  font-size: 3rem;
  color: $amaranthe;
}

.traveler-dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media screen and (min-width: 500px) and (max-width: 800px)  {
  .user-greeting {
    font-size: 2rem;
  }

  .login-form {
    width: 50%;
  }

  .name-input {
    width: 90%;
  }

  .id-input {
    width: 70%;
  }

  .trip-form {
    width: 70%;
  }

  .trip-categories,
  .agent-lists {
    @include lists(column, flex-start);
  }

  .trip-list,
  .agent-list {
    @include scrollingList(375px, $rose-taupe);
  }

}

@media screen and (max-width: 500px)  {
  .user-greeting {
    font-size: 1.5rem;
  }

  .login-form {
    width: 80%;
  }

  .id-input {
    width: 70%;
  }

  .name-input {
    width: 90%;
  }

  .trip-form {
    width: 70%;
  }

  .trip-categories,
  .agent-lists {
    @include lists(column, flex-start);
  }

  .trip-list,
  .agent-list {
    @include scrollingList(300px, $rose-taupe);
  }
}



.hidden {
  display: none;
}
